@media (width <=1200px) {
  #history {
    inset: auto auto 0 0;
    width: 100%;
    height: 300px;
    border-top: 1px solid black;
  }
}

@media (width > 1200px) {
  #history {
    inset: 0 0 auto auto;
    width: 400px;
    height: 100%;
    border-left: 1px solid black;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

ul {
  padding: 0;
  margin: 4px 8px;
}

li {
  list-style: none;
}

#history {
  position: fixed;
  overflow: scroll;
  padding: 4px;;
}

#history-header {
  display: flex;
}

#log li > * {
  width: 100%;
  text-align: left;
}

#search {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin: 0 auto;
} 

#search button {
  flex: 1;
} 

#meanings-lists {
  display: flex;
  justify-content: center;
}

#meanings-lists li > * {
  width: 100%;
}