@media (width <=1200px) {
  #history {
    inset: auto auto 0 0;
    width: 100%;
    height: 300px;
    border-top: 1px solid black;
  }
}

@media (width > 1200px) {
  #history {
    inset: 0 0 auto auto;
    width: 400px;
    height: 100%;
    border-left: 1px solid black;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#history {
  position: fixed;
}

#log {
  position: fixed;
  inset: 0 0 auto auto;
  height: 100%;
  border: 1px solid;
}

#meanings-lists {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}